/* Style for the forms */

label {
float: left;
text-align: left;
font-size: 12px;
color: #3FA9F5;
font-size: 12px;
text-transform:uppercase;
margin-top:14px;
}

input {
color: #333;
background: #fff;
width:400px;
border: 1px solid #ccc; 
padding:8px;
font-size:20px;
}

textarea {
color: #333;
background: #fff;
border: 1px solid #ccc;
padding:8px;
font-size:20px;
width: 400px;
height: 180px;
}
/* For  registering */ 
#div_register_at_footprint.org input {
color: #333;
float: left;
text-align: left;
background: #fff;
border: 1px solid #ccc; 
padding:8px;
font-size:16px;
width: 300px;
margin-left:25px;
margin-bottom:20px;
}
#div_register_at_footprint.org label {
float: left;
text-align: left;
width: 600px;
height: 40px;
padding-top: 6px;
margin-bottom: 14px;
font-size: 12px;
color: #fff;
text-transform:uppercase;
margin-left:25px;
}

/* Special format for login (smaller)*/
#login input {
color: #333;
float: left;
text-align: left;
background: #fff;
border: 1px solid #ccc; 
padding:8px;
font-size:16px;
width: 300px;
margin-left:25px;
}
#login label {
float: left;
text-align: left;
width: 360px;
padding-top: 6px;
margin-bottom: 4px;
font-size: 12px;
color: #fff;
text-transform:uppercase;
margin-left:25px;
}
#login{
	width:360px;
	height:200px;
	float:left;
	padding:0px;
	margin:0px;
}
#openid{
	width:360px;
	float:left;
	margin-left:25px;
}
#loginsubmit input {
	color: #333;
	float: left;
	text-align: left;
	background: #fff;
	margin-top: 8px;
	border: 1px solid #ccc; 
	padding:8px;
	font-size:14px;
	width: 60px;
	margin-left:25px;
}
.dialog{
	display:none;
}

#comment_form{
	background:black;
	height:100px;
}
#comment input {
color: #333;
background: #fff;
border: 1px solid #ccc;
padding:3px;
font-size:12px;
}
#comment label {
float: left;
text-align: right;
margin-right: 0.5em;
padding-top: 1em;
font-size: 9px;
color: #3FA9F5;
text-transform:uppercase;
}

/* Divs for create/start */
.create_form{
	font-size: 12px;
	padding:15px;
	
}
.form_title {
	font-size: 20px;
	font-weight: none;
	text-transform:uppercase;
}

.addmore{
	float:left;
	width:980px;
}
#div_create_lca{
	width:980px;
	margin-bottom: 30px;
}
#div_description{
	float:left;
	width: 470px;
	overflow:none;
	margin-bottom:15px;
}
#div_publication{
	float:left;
	margin-left:30px;
	width: 470px;
	margin-bottom:15px;
}
#div_flow{
	float:left;
	margin-top:10px;
	margin-bottom:15px;
	padding-top:15px;
	border-top: 1px solid #ccc;
	width:980px;
}

#form_qrQuantity{
	float:left;
	width:125px;
}

#form_qrQuantity input, #form_qrUnit input {
	width:120px;
}
#form_qrUnit{
	float:left;
	width:275px;
	margin-left:25px;
}
#unit, #impacts, #people {
	margin-left: 10px;
}
#form_category label, #form_category input{
	width:400px;
}
#form_author label{
	width:400px;
}
#form_author input{
	width: 195px;
}
#form_substanceName, #form_ioQuantity  {
	float:left;
	width:245px;
}
#form_ioUnit {
	float:left;
	width:490px;
}
#form_ioUnit label{
	width:490px;
}
#form_substanceName input, #form_ioQuantity input, #form_ioUnit input {
	width:225px;
}
#form_io label,#form_exchangeType label{
	width:980px;
}
#form_io input{
	width:15px;
	text-align:left;
}
#form_exchangeType input{
	width:15px;
}
#form_impactCategory, #form_impactCategoryIndicator, #form_assessmentUnit {
	float: left;
	width: 480px;
	margin-bottom: 10px;
}
#form_assessmentQuantity, #form_assessmentQuantity label {
	float: left;
	width: 400px;
}
#form_impactCategory label, #form_impactCategoryIndicator label,  #form_assessmentUnit label {
	width: 460px;
}
#form_impactCategory input,  #form_assessmentQuantity input, #form_impactCategoryIndicator input, #form_assessmentUnit input {
	width: 225px;
}
#form_impactCategoryIndicator > #impacts{
	display:none;
}

#div_impact_assessment
{
	float:left;
	margin-top:10px;
	padding-top:15px;
	margin-bottom:15px;
	border-top: 1px solid #ccc;
	width:980px;
}
#div_submit{
	float:left;
	margin-top:10px;
	padding-top:15px;
	border-top: 1px solid #ccc;
	width:980px;
	text-align: left;
}
#div_submit h1{
	display: none;
}
#form_submit input{
	width: 100px;
}

.require {
	border: solid 2px #000000;
}

.require_ok {
	border: 1px solid #ccc; 
}

#div_flow label {
	color: #3366CC;
}
#div_impact_assessment label {
	color: #000099;
}
