/* Style for the forms */

label {
float: left;
text-align: left;
font-size: 12px;
color: #3FA9F5;
font-size: 12px;
text-transform:uppercase;
}

.submit input {
margin-left: 4.5em;
}

input {
display:block;
color: #333;
background: #fff;
border: 1px solid #ccc; 
padding:8px;
font-size:20px;
}

textarea {
color: #333;
background: #fff;
border: 1px solid #ccc;
padding:8px;
font-size:20px;
width: 275px;
height: 200px;
}

/* Special format for login (smaller)*/
#login input {
color: #333;
background: #fff;
border: 1px solid #ccc;
padding:3px;
font-size:12px;
}
#login label {
float: left;
text-align: right;
margin-right: 0.5em;
padding-top: 1em;
font-size: 9px;
color: #3FA9F5;
text-transform:uppercase;
}
#comment_form{
	background:black;
	height:100px;
}
#comment input {
color: #333;
background: #fff;
border: 1px solid #ccc;
padding:3px;
font-size:12px;
}
#comment label {
float: left;
text-align: right;
margin-right: 0.5em;
padding-top: 1em;
font-size: 9px;
color: #3FA9F5;
text-transform:uppercase;
}



/* Divs for create/start */
.create_form{
	font-size: 12px;
	padding:15px;
	
}
.form_title {
	font-size: 20px;
	font-weight: none;
	text-transform:uppercase;
}
.addmore{
	float:left;
	width:980px;
}
#div_start{
	width:980px;
}
#div_description{
	float:left;
	width: 460px;
	background:#eee;
}
#div_publication{
	float:right;
	right:0px;
	width: 460px;
	padding:20px;
}
#div_flow{
	float:left;
	margin-top:10px;
	padding-top:15px;
	border-top: 1px solid #ccc;
	width:980px;
	background:#eee;
}
#form_io{
	
}
#div_impact_assessment
{
	float:left;
	margin-top:10px;
	padding-top:15px;
	border-top: 1px solid #ccc;
	width:980px;
	background:#eee;
}
#div_submit{
	float:left;
	margin-top:10px;
	padding-top:15px;
	border-top: 1px solid #ccc;
	width:980px;
	background:#eee;
}
.require {
	border: solid 2px #FFFF00;
}

.require_ok {
	border: 0px;
}

#div_flow label {
color: #3366CC;
display:block;
}
#div_impact_assessment label {
color: #000099;
}
